.border_r {
  border: 1px solid red !important;
}
.border_b {
  border: 1px solid blue !important;
}
body{
  position: relative;
    height: 100vh!important;
    width: 100vw;
}
nav {
  position: sticky !important;
  top: 0 !important;
  left: 0 !important;
}
.navbar-nav li a {
  color: white !important;
}
input[type="search"]{
    width: 22vw !important;
}
.container p,h4 {
  color: white;
}
.overflow-x-scroll::-webkit-scrollbar,.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}
.bg_black{
    background-color: #000;
}
.card{
    width: 20rem;
    height: 22rem;
}
.channelThumbnail{
    width: 80px;
    height: 80px;
}
.card-title {
  line-height: 1.5em!important;
  height: 3em;       /* height is 2x line-height, so two lines will display */
  overflow: hidden;  /* prevents extra lines from being visible */
}

.translate-top{
    transform: translateX(-10%) translateY(-120%);
}

.custom-loader {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  width:80px;
  height:80px;
  border-radius:50%;
  border:8px solid;
  border-color:#f31111 #0000;
  animation:s1 1s infinite;
}
@keyframes s1 {to{transform: rotate(.5turn)}}



/* video page */
.card1{
height: 10rem;
width: 100%;
color: white;
box-sizing: border-box;
}
.translate-left{
    transform: translateX(-130%) translateY(-10%);
}

#channelThumbnail{
    width: 80px;
    height: 80px;
}


@media screen and (max-width: 992px){
  #sideMenu{
    display: none!important;
  }

#suggestedSection{
  flex-direction: row!important;
  flex-wrap: wrap!important;
}
#videoMain{
  background-color: rgb(34, 34, 34)!important;
  height: auto!important;
}
#videoPreviewSection{
  height: auto!important;
}
.card1{
  width: 100%!important;
    height: auto;
    box-sizing: border-box!important;
}
#cardDetails{
  justify-content: space-around!important;
  margin: 5rem 2rem!important;
}
input[type="search"]{
  width: 100% !important;
}
}